<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
				<key>dateExpires</key>
				<string>2021/3/12</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>liquid_swipe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>179C39F5EF973B79C9E1E28AC484A5B97B433185</string>
						<key>dateExpires</key>
						<string>2021/3/12</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZM57HELHSL</string>
						<key>name</key>
						<string>Zijian Liu</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZM57HELHSL.com.yuque.vyan</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZM57HELHSL</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>语燕.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0a881254-78bd-433d-a515-0f3d059a8b82</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZM57HELHSL</string>
				<key>name</key>
				<string>Zijian Liu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
